li{
    padding: 2rem 2rem;
    background-color: aquamarine;
    width: 10rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.descricao{
    margin-bottom: 2rem;
}

.estoque{
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    font-weight: 700;
}

.esgotado{
    background-color: red;

}